/* --FONTS-- */
@font-face {
    font-family: "TTNorms-Bold";
    src: url("/fonts/TTNorms-Bold.ttf");
}

@font-face {
    font-family: "TTNorms-Regular";
    src: url("/fonts/TTNorms-Regular.ttf");
}

@font-face {
    font-family: "TTCommonsPro-Bold";
    src: url("/fonts/TTCommonsPro-Bold.ttf");
}

/* --MAIN-- */
p,
h1 {
    margin: 0;
}

* {
    transition: 0.4s;
}

body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: center;
    background-image: url("/images/background-1.jpg");
    background-size: auto;
    background-attachment: scroll;
    background-position: center;
    background-size: contain;
    color: #191919;
    background-repeat: repeat-y;
}

main {
    width: 1340px;
    min-width: 320px;
    max-width: 1340px;
    min-height: 100vh;
}

.phantom {
    display: none;
}

.content {
    padding: 0px 50px;
}

a {
    text-decoration: none;
    color: #191919;
}

.divider {
    height: 2px;
    background-color: #191919;
    margin-bottom: 100px;
    border: 0;
}

/* --HEADER-- */
.header-content {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 10px;
    height: 100px;
}

.header-content>a {
    align-self: center;
}

.header-content>a>.logo {
    width: 180px;
}

.lang-button {
    background-color: #ffffff;
    font-family: 'TTNorms-Bold', bold;
    font-size: 18px;
    padding: 6px 12px;
    height: auto;
    border-radius: 15px;
}

.lang-button:hover {
    transform: scale(1.1);
}

/* --BANNER-- */
.button {
    background-color: #ffffff;
    font-size: 22px;
    font-family: 'TTNorms-Regular', regular;
    padding: 15px 30px;
    width: auto;
    border-radius: 30px;
}

.button:hover,
.disable,
.disable:hover {
    background-color: rgba(256, 256, 256, 0.4);
    transform: scale(0.9);
}

.disable:hover {
    transform: scale(0.8);
}

.banner-content {
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 200px;
}

.button-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.label-section {
    display: flex;
    align-items: center;
}

.button-bold {
    font-family: 'TTNorms-Bold', bold;
}

.h1 {
    font-family: 'TTNorms-Bold', bold;
    white-space: nowrap;
    font-size: 78px;
    text-align: center;
    width: 100%;
}

.blue-ellipse {
    position: relative;
    bottom: 140px;
    transition: 0.4s;
}

.yellow-ellipse {
    position: relative;
    top: 150px;
    right: 70px;
    transition: 0.4s;
}

.blue-ellipse:hover,
.yellow-ellipse:hover {
    transform: scale(1.4);
}

/* --MISSION-- */
.mission-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}

.mission-content>.section {
    display: flex;
    align-items: center;
    align-self: center;
}

.mission-content>.image-section>img {
    width: 80%;
    height: auto;
}

.ambassador-image>img {
    width: 80%;
}

.coorperation-section>img {
    width: 100% !important;
}

.image-section {
    display: flex;
    justify-content: center;
}

.hand-section {
    align-content: center;
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-section>.title,
.title {
    font-family: 'TTNorms-Bold', bold;
    font-size: 48px;
    margin: 0;
    padding-bottom: 40px;
}

.text-section>.description {
    width: 600px;
    text-align: justify;
    font-family: 'TTNorms-Regular', regular;
    font-size: 24px;
    line-height: 40px;
}

/* --GOALS-- */
.goals-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}

.goals-content>.section {
    display: flex;
    justify-content: flex-start;
}

.goals-content>.image-section>img {
    width: 90%;
    height: auto;
}

/* --PRESIDENT-- */
.president {
    display: flex;
    flex-direction: column;
}

.president-header {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.president-header>img {
    width: 50px;
    height: auto;
}

.president-header>p {
    font-family: 'TTNorms-Bold', bold;
    font-size: 20px;
}

.president-content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 150px;
}

.president-content>.text-section {
    position: relative;
    top: 50px;
}

.image-section>.president {
    width: 90%;
    height: auto;
}

.president-title {
    padding-bottom: 20px;
}

/* --OUR WORK-- */
.our-work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.our-work-content>title {
    text-align: center;
}

.blocks-section {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 30px;
}

.work-block {
    padding: 0px 0px 30px 0px;
    display: flex;
    flex-direction: column;
}

.block>p {
    align-self: center;
    text-align: center;
    margin: 0px 30px;
    font-family: 'TTNorms-Bold', bold;
    font-size: 28px;
    width: auto;
}

.block {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    background-color: #ffffff;
    border-radius: 0px 50px 0px 50px;
}

.learn-button {
    font-size: 28px;
}

.block>img {
    align-self: center;
    width: 85%;
    height: auto;
    margin: 25px 0px;
    height: auto;
    border-radius: 0px 30px 0px 30px;
}

.text-container {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
}

.our-work {
    padding-bottom: 70px
}

.text-container>.description {
    font-family: 'TTNorms-Regular', regular;
    font-size: 25px;
    text-align: center;
}

/* --COORPERATION-- */
.coorp-gap {
    gap: 45px;
}

.coorp>.text-section {
    top: 0;
}

.coorp>.text-section>a {
    padding-top: 10px;
}

.coorp>.text-section>.description {
    font-size: 24px;
    line-height: 40px;
}

.coorp-img {
    width: 100%;
    height: auto;
    border-radius: 80px 0px 80px 0px;
}

.coorperation-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.coorperation-content>title {
    text-align: center;
}

.coorperation {
    padding-bottom: 120px
}

/* --HOUSES-- */
.support {
    border-radius: 80px 0px 80px 0px;
}

.houses {
    border-radius: 0px 80px 0px 80px;
}

/* --FOOTER-- */
.footer-content {
    display: flex;
    margin-bottom: 50px;
}

.footer-content>.column {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-content>.column>.line {
    display: flex;
    gap: 5px;
    align-items: center;
}

.footer-content>.column>.title {
    font-family: 'TTNorms-Bold', bold;
    font-size: 48px;
    margin: 0;
    padding-bottom: 20px;
}

.icon {
    width: 40px;
}

.footer-divider {
    margin-bottom: 50px;
}

.footer-content>.column>.line>p,
.footer-content>.column>.line>.numbers>p {
    margin-left: 5px;
    font-family: 'TTNorms-Bold', bold;
    font-size: 22px;
}

/* --ADAPTIVE-- */
@media only screen and (max-width: 1024px) {
    .banner-content {
        padding-top: 40px;
    }

    .h1 {
        font-size: 64px;
    }

    .blue-ellipse {
        bottom: 100px;
        width: 70px;
        right: 10px;
        height: auto;
    }

    .yellow-ellipse {
        top: 120px;
        right: 40px;
        width: 70px;
        height: auto;
    }

    .mission-content,
    .president-content {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .revert {
        flex-direction: column;
        gap: 20px;
    }

    .goals-content>.image-section {
        justify-content: center;
    }

    .goals-content>.image-section>img,
    .president-content>.image-section>img {
        width: 60%;
        height: auto;
        top: 0;
    }

    .coorperation-section>img {
        width: 60% !important;
    }


    .goals-content {
        flex-direction: column;
        gap: 15px;
    }

    .mission-content>.text-section,
    .goals-content>.text-section,
    .president-content>.text-section {
        top: 0;
    }

    .text-section>.description {
        width: auto;
    }

    .president {
        gap: 20px;
    }

    .mission-content>.image-section>img,
    .goals-content>.image-section>img,
    .president-content>.image-section>img {
        width: 60%;
        height: auto;
    }

    .blocks-section {
        flex-direction: column;
    }

    .block {
        width: 50%;
        align-self: center;
    }

    .our-work-content {
        gap: 15px;
    }

    .ambassador-image {
        width: 60% !important;
    }
}

@media only screen and (max-width: 868px) {

    .blue-ellipse {
        bottom: 150px;
        right: 0;
    }

    .yellow-ellipse {
        top: 140px;
        right: 40px;
    }

    .revert {
        flex-direction: column;
    }

    .banner-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .goals-content {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }

    .banner-content{
        gap: 45px;
    }
    .goals-content {
        gap: 15px;
    }

    .h1 {
        font-size: 84px;
    }

    .mission-content>.image-section>img,
    .goals-content>.image-section>img,
    .president-content>.image-section>img {
        width: 60%;
        height: auto;
    }

    .coorperation-section>img {
        width: 70% !important;
    }


    .block {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .h1 {
        font-size: 78px;
    }

    .phantom {
        display: flex;
    }

    .content {
        padding: 20px 20px 20px 20px;
    }

    .logo {
        width: 150px !important;
        height: auto;
    }

    .mission-content>.image-section>img,
    .goals-content>.image-section>img,
    .president-content>.image-section>img {
        width: 50%;
        height: auto;
    }

    .mission-content,
    .president-content,
    .banner-content,
    .goals-content {
        margin-bottom: 40px;
    }

    .goals-content>.text-section>.title,
    .title {
        font-size: 42px;
    }

    .president {
        gap: 0;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .footer-content>.column {
        width: 100%;
    }

    .footer-content>.column>.title {
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {

    .lang-button {
        font-size: 12px;
    }

    .h1 {
        font-size: 54px;
    }

    .blue-ellipse {
        width: 50px;
        bottom: 110px;
    }

    .yellow-ellipse {
        width: 50px;
        top: 110px;
    }

    .goals-content>.image-section>img,
    .president-content>.image-section>img {
        width: 55%;
    }

    .banner-content,
    .goals-content {
        margin-bottom: 20px;
    }

    .text-section>.title,
    .title,
    .goals-content>.text-section>.title {
        font-size: 35px;
        text-align: center;
        padding-bottom: 20px;
    }

    .text-section>.description,
    .text-container>.description {
        font-size: 16px !important;
        line-height: 20px !important;
    }

    .block>p {
        font-size: 22px;
    }

    .coorperation {
        padding-bottom: 40px;
    }

    .ambassador-image {
        width: 70% !important;
    }

    .footer-content>.column>.title {
        font-size: 36px;
        padding-bottom: 10px;
    }

    .footer-content>.column>.line>p,
    .footer-content>.column>.line>.numbers>p {
        font-size: 16px;
    }

    .banner-button {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 425px) {
    .h1 {
        font-size: 42px;
    }

    .blue-ellipse {
        bottom: 90px;
    }

    .yellow-ellipse {
        top: 90px;
    }

    .text-section>.title,
    .title,
    .goals-content>.text-section>.title {
        font-size: 28px;
    }

    .text-section>.description {
        text-align: center;
    }

    .button {
        font-size: 20px;
        padding: 13px 26px;
    }
}